body {
  background-color: #ffffff;
  width: 100%;
}

/* global */

.span__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: calc(1em + 2px);
  color: #000000;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
/* global */

/* header */

.header {
  margin: 0 auto;
  width: 1100px;
  padding: 94px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__menu {
  padding-bottom: 3px;
}

.header__link {
  text-underline-offset: 3px;
}

.header__links-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 2px;
  gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
  background-image: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__address {
  width: 240px;
  margin-bottom: 3px;
  margin-left: 186px;
}

.header__address a:nth-child(2) {
  margin-bottom: 1px;
}

/* header */

/* address */

.address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  text-underline-offset: 4px;
}

.address .span__text {
  line-height: 24.3px;
  display: block;
}

/* address */

/* main */

.content {
  width: 1100px;
  margin: 0 auto;
}
/* main */

/* cover */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  width: 100%;
  padding: 186px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover__title {
  z-index: 2;
  width: 1000px;
  margin-top: -0.6em;
  margin-bottom: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aligned-text {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  color: #ffffff;
  text-transform: uppercase;
}

.aligned-text_left {
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
  margin-right: -0.3em;
  padding-top: 20px;
}

.aligned-text_right {
  align-self: flex-end;
  padding-top: 22px;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}
.cover__description {
  z-index: 2;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  word-spacing: 0.85em;
}

.bet-button {
  width: 256px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}
/* cover */

/* lots */

.lots {
  width: 1052px;
  margin: 180px auto 120px;
}

.lots__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 40px;
  padding-bottom: 27px;
}

.card {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #ffffff;
  padding: 48px 40px 0 40px;
  margin: 0;
  position: relative;
  z-index: 2;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1px;
  color: #ffffff;
  text-underline-offset: 3px;
}

.card__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  padding: 0 40px 48px 40px;
  margin: auto 0 0 0;
  position: relative;
  z-index: 2;
}

.card-link {
  height: 100%;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #000000;
  text-underline-offset: 5px;
  text-decoration: underline;
  text-decoration-color: #000000;
  text-decoration-thickness: 1px;
}

.more {
  display: block;
  padding-top: 30px;
  padding-left: 40px;
}
/* lots */

/* about */

.about {
  width: 1052px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column:first-child {
  align-items: center;
  padding-top: 35px;
}

.about__column:last-child {
  padding-top: 140px;
}

.about__logo {
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

.about__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 3px;
  text-transform: uppercase;
  color: #000000;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-top: 100px;
  word-spacing: 0.025em;
}

/* about */

/* footer */

.footer {
  width: 1100px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 82px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.footer__address {
  max-width: 290px;
  margin-top: 1px;
  padding-left: 50px;
}

.footer__menu {
  width: 163.9px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 1px;
}

.footer__menu-list {
  width: 163.9px;
  padding-top: 1px;
}
.footer__menu-list-item {
  text-align: center;
  list-style: none;
  text-underline-offset: 5px;
  line-height: calc(1em + 4px);
}

.footer__menu-link {
  text-decoration: underline;
  text-decoration-color: #000000;
  text-decoration-thickness: 1px;
  text-underline-offset: 3.5px;
}

.footer__menu-link_active {
  text-decoration: none;
  border-bottom: none;
  padding-bottom: 0;
}

.footer__social-list {
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-items: flex-start;
  gap: 48px;
}

.footer__social-list-item {
  text-align: center;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-link {
  text-decoration: none;
}

/* footer */
